{% extends 'base.html' %}

{% block title %}
Создание статьи
{% endblock %}


{% block body %}
<div class="bg-light">
<div class="container text-center">
    <h1>Создание статьи <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-capslock-fill" viewBox="0 0 16 16">
  <path d="M7.27 1.047a1 1 0 0 1 1.46 0l6.345 6.77c.6.638.146 1.683-.73 1.683H11.5v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1H1.654C.78 9.5.326 8.455.924 7.816L7.27 1.047zM4.5 13.5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1z"/>
</svg></h1>
    <form method="post">
        <input type="text" name="title" id="title" class='form-control' placeholder="Введите название"><br>
        <textarea name="intro" id="intro" class='form-control' placeholder="Введите анонс"></textarea><br>
        <textarea name="text" id="text" class='form-control' placeholder="Введите текст статьи"></textarea><br>
        <a class="btn btn-secondary" href="/posts"><i class="fa-solid fa-angles-left"></i></a>
        <input type="submit" class='btn btn-warning' value="Добавить">
    </form>
    <div class="alert alert-light"></div>
</div>
</div>
{% endblock %}